.main{
    height: 20vh;
    width: 95vw;
    background-color: white;
    position: relative;
    animation-name: col1;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

.car{
    position: absolute;
    width: 15vw;
    animation-name: star;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}
.main2{
    height: 20vh;
    width: 95vw;
    position: relative;
    animation-name: col2;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

.car2{
    position: absolute;
    width: 15vw;
    left: 42.5vw;
}
.main3{
    height: 20vh;
    width: 95vw;
    position: relative;
    animation-name: col3;
    animation-duration: 10s;
    animation-iteration-count: 1;
}

.car3{
    position: absolute;
    width: 15vw;
    animation-name: star;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}
.box{
    height: 20vh;
    width: 10vw;
    /* background-color: black; */
    display: flex;
    justify-content: center;
}
.box img{
    border-radius: 50%;
}

@keyframes star{
    0%{
        top: 0px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: 85vw;
    }
}
@keyframes col1{
    0%{
        background-color:white ;
    }
    100%{
        background-color: orangered;
    }
}
@keyframes col3{
    0%{
        background-color: white;
    }
    100%{
        background-color: rgb(30, 217, 73);
    }
}
