
.box{
    height: 715px;
    width: auto;
    /* background-color: aqua; */
    display: flex;
}

.box1{
    height: 715px;
    width: 1010px;
    /* background-color: blue; */
}

.box2{
    /* background-color: brown; */
    height: 715px;
    width: 500px;
}

.box3{
    /* background-color: black; */
    height: 150px;
}
.sp{
    height: 95px;
    /* background-color: rgb(24, 209, 233); */
}

.box4{
    /* background-color: rgb(180, 114, 14); */
    height: 450px;
}
.box1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box5{
    /* background-color: rgb(163, 17, 17); */
    height: 440px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

#name{
    height: 24px;
    font-size: 14px;
    width: 390px;
    font-family: 'Courier New', Courier, monospace;
}

#password{
    height: 24px;
    font-size: 16px;
    width: 390px;
}

#cheak{
    font-size: 18px;
}

#btn1{
    height: 30px;
    width: 60px;
    background-color: #44b2aa;
}

#btn2{
    height: 30px;
    width: 120px;
    background-color: #E7505A;
}
