.box1{
    height: 97vh;
    width: auto;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img1.jpg);
    background-size: cover;
}

.box2{
    height: 60vh;
    width: 60vh;
    background-color: rgb(66, 166, 80);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    height: 5vh;
    width: 30vh;
}
.text1{
    font-size: large;
    border: 2px solid black;
}
