body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
#E-mail{
    border: 2px solid blue;
    height: 25px;
    width: 200px;
}
#password{
    border: 2px solid blue;
    height: 25px;
    width: 200px;
    
}