* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    background-image: url(./background.avif);
    background-size: cover;
}

.box1 {
    background: rgb(224, 252, 252);
    padding: 30px;
    border-radius: 10px;
    width: 320px;
}

.box2 h3 {
    text-align: center;
    margin-bottom: 20px;
}

.input1 {
    display: flex;
    flex-direction: column;
}

.input1 input[type="email"],
.input1 input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(67, 67, 88);
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

#fp {
    text-decoration: none;
    color: blue;
}

input[type="submit"] {
    width: 120px;
    padding: 10px;
    margin: 0 auto;          
    border: none;
    background: #007bff;
    color:rgb(67, 67, 88);
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0056b3;
}

p {
    text-align: center;
    margin-top: 15px;
}
