body{
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.nav{
    display: flex;
    justify-content: space-around;
}
.btn1{
    background: #6ce81a;
    background: linear-gradient(183deg, rgba(108, 232, 26, 0.83) 15%, rgba(209, 129, 227, 1) 57%, rgba(18, 222, 215, 1) 90%);
    border-radius: 25px;
    height: 40px;
    width: 90px;
    font-family: Copperplate, Papyrus, fantasy;
    transition: 0.4s;
}
.btn1:hover{
    transform: scale(1.3);
}
.box1{
    height: 30vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.text1{
    font-size: 30px;
    height: 150px;
    width: 500px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #5df200;
    background: linear-gradient(72deg, rgba(93, 242, 0, 0.83) 0%, rgba(163, 176, 136, 1) 0%, rgba(209, 129, 227, 1) 0%, rgba(18, 222, 215, 1) 95%);
    border-radius: 30px;
    transition: 1s;
}
.text1:hover{
    transform: scale(1.3)
}
.box2{
    height: 60vh;
    display: flex;
    justify-content: space-around;
}
.b1{
    height: 60vh;
    width: 50vh;
    background: #adc48f;
    background: radial-gradient(circle, rgba(173, 196, 143, 1) 0%, rgba(95, 192, 207, 1) 100%, rgba(165, 196, 141, 1) 100%);
    border-radius: 30px;
    transition: 2s;
}
.b1 img{
    height: 60vh;
    width: 50vh;
    border-radius: 30px;
}
.b1:hover{
    transform: scale(1.1);
    transition: 1s;
    background: #adc48f;
    background: radial-gradient(circle, rgba(173, 196, 143, 1) 0%, rgba(8, 255, 78, 1) 0%, rgba(95, 192, 207, 1) 100%, rgba(165, 196, 141, 1) 100%);
}

  .text2{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }