body{
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.nav{
    display: flex;
    justify-content: space-around;
}
.btn1{
    background: #6ce81a;
    background: linear-gradient(183deg, rgba(108, 232, 26, 0.83) 15%, rgba(209, 129, 227, 1) 57%, rgba(18, 222, 215, 1) 90%);
    border-radius: 25px;
    height: 40px;
    width: 90px;
    font-family: Copperplate, Papyrus, fantasy;
    transition: 0.4s;
}
.btn1:hover{
    transform: scale(1.3);
}