div{
    height: 80px;
    width: 80px;
    border: 3px solid black;
    display: inline-block;
}

body{
    background-image: url("3d_1.jpg");
    background-size: cover;
}
#box1{
    position: static;
    background-color: aqua;
    background-image: url("3d.jpg");
    background-size: cover;
}
#box2{
    background-color: greenyellow;
    position: relative;
    top: 80px;
    left: 20px;
    right: 10px;
}
#box3{
    background-color: rgb(56, 5, 164);
    position: absolute;
    top: 30px;
}

#box4{
    background-color: red;
    position: fixed;
    bottom: 0;
}