div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border:2px solid black;
    /* transition-property: all;
    transition-duration: 1s; */
    /* transition: all 1s ease-in 1s; */
    transform: rotate(45deg);
}

div:hover{
    background-color: blueviolet;
    color: darkorange;
    font-size: 20px;
}
div:active{
    background-color: gold;
}
