
.box1{
    background-color: aqua;
    height: 70vh;
    width: 50vh;
}

.display1{
    height: 10vh;
    width: 50vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.display2{
    height: 8vh;
    width: 45vh;
    background-color: aliceblue;
    font-size: 30px;
    background-color: chartreuse;
}

.box{
    display: flex;
    justify-content: space-around;
}
.c{
    height: 8vh;
    width: 8vh;
    background-color:rgb(32, 156, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

