h1{
    color: rgb(211, 138, 28);
}
button{
    color: rgb(0, 17, 255);
    background-color: chartreuse;
}
#Hederone{
    color: blueviolet;
}
#Hedertwo{
    color: rgb(49, 194, 20);
}
#Hederthree{
    color:rgb(220, 18, 106);
}
