
.box{
    background-color: aqua;
    height: 50vh;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.box1{
    background-color: blue;
    width: 45vh;
    height: 40vh;
    border-radius: 25px;
    transition: 1s ;
}
.box1 img{
    height: 40vh;
    width: 45vh;
    border-radius: 25px;
    border: 3px black;
}

.box1:hover{
    transform: scale(1.1);
    border: 3px black;
    border-style:outset;
    
}

.box2{
    background-color: blue;
    width: 45vh;
    height: 40vh;
    border-radius: 25px;
    overflow: hidden;
    transition: 1s ;
}

.box2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box2:hover{
    border-radius: 45%;
}

.btn{
    background-color: aqua;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}
.btn1{
    height: 60px;
    width: 140px;
background-image: linear-gradient(to top, #2ca6bd, #0092ce, #0079dd, #0059df, #3d22c9);
    border: 2px solid black;
    transition: 1s ;
}
.btn1:hover{
    border-radius: 25px;
    transform: scale(1.1);
    border: 2px solid black;
}

.box3{
    background-color: blue;
    width: 40vh;
    height: 40vh;  
    transition: 1s;
}
.box3 img{
    height: 40vh;
    width: 40vh;
}
.box3:hover{
    transform: scale3d(1.1,1.1,1.1) rotate3d(3,1,5,90deg);
}

