.item{
    height: 25px;
    width: 25px;
    background-color: aqua;
    border: 2px solid black;
    margin: 4px;

}   

.containe{
    border: 2px solid red;
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;


}