.game{
    display: flex;
    justify-content: space-evenly;
}
/* .paper{
    height: 200px;
    width: auto;
    background-color: aqua;
    border: solid 2px black;
    height: 200px;
    width: 200px;
} */
.pimg{
    height: 150px;
    width: 170px;
    border-radius: 50%;
}
/* .pencil{
    height: 200px;
    width: auto;
    background-color: aqua;
    border: solid 2px black;
} */
.simg{
    height: 150px;
    width: 170px;
    border-radius: 50%;
}
/* .roke{
    height: 200px;
    width: auto;
    background-color: aqua;
    border: solid 2px black;
} */
.rimg{
    height: 150px;
    width: 170px;
    border-radius: 50%;
}

