p{
    background-color: rgba(59, 58, 58, 0.846);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.choice{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 150px;
}