
#tag{
    height: 40px;
    color: rgb(251, 251, 251);
    background-color: rgba(0, 0, 0, 0.703);
    font-size: 25px;
    text-align: center;
}

a{
    margin-right: 270px;
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
}
#My_Image{
     width: 350px;  
    height: auto;  
    border-image-outset: 25px;
    border-radius: 25px;
}

.post{
    display: flex;
    gap:20px;
    padding: 20px;
}

p{
    color: rgb(11, 41, 193);
    text-decoration: black;
    font-size: 20px;
}

#code_1{
    width: 1000px;
    height: auto
}
.post_1{
    display: flex;
    gap:20px;
    padding: 20px;
}