.box{
    height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.box1{
    height: 300px;
    width: 60vh;
    background-color: black;
}
.b1{
    height: 15vh;
    width: 15vh;
    background-color: cadetblue;
}
