.post{
    height: 250px;
    width: auto;
    border: 4px solid #0f1110;
    display: inline-block;
    padding: 5px;
    position: relative;
}

.buy{
    position:absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    height: 30px;
    width: 50px;
    
}


#content{
    height: 720px;
}
*{
    color: white;
}

#Nev{
    height: 60px;
    background-color: #0f1110;
}

button{
    background-color: #f08804;
}

#text{
    color: #0f1110;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 180px;
    text-decoration: none;
}

footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}