.post{
    height: 250px;
    width: auto;
    border: 2px solid #0f1110;
    display: inline-block;
    padding: 5px;
}

.buy1{
    position:absolute;
    top:420px;
    left: 100px;
}
.buy2{
    position:absolute;
    top:420px;
    left: 350px;
}
.buy3{
    position:absolute;
    top:420px;
    left: 600px;
}
.buy4{
    position:absolute;
    top:420px;
    left: 830px;
}
.buy5{
    position:absolute;
    top:420px;
    left: 1080px;
}

#content{
    height: 720px;
}
*{
    color: white;
}

#Nev{
    height: 60px;
    background-color: #0f1110;
}

button{
    background-color: #f08804;
}

#text{
    color: #0f1110;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 180px;
    text-decoration: none;
}

footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}