body{
    background-color: rgb(177, 148, 148);
}

/*For Home Page*/
.Nev{
    background-color: rgb(24, 31, 31);
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: auto;
}

#item{
    color: white;
    text-decoration: none;
    font-size: 28px;
}

.box1{
    background-color: aqua;
    height: 90vh;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Welcome.jpg");
    background-size: cover;
}
.text1{
    color: black;
    font-size: 50px;
}
.box2{
    height: 60vh;
    width: 206.5vh;
    display: flex;
    justify-content: space-between;
}
.img1{
    height: 60vh;
    width: auto;
    border-radius: 30px;
    margin-left: 10vh ;
}
.text2{
    height: 60vh;
    width: 80vh;
    margin-right:35vh ;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
}
.box3{
    height: 40vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text3{
    height: 30vh;
    width: 200vh;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    color: white;
    display: flex;
    bottom: 0px;
    background-color: black;
    height: 28vh;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/*Project page*/

.box4{
    height: 100vh;
    width: auto;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text4{
    background-color: brown;
    height: 90vh;
    width: 90vh;
}
.img2{
    background-color: chartreuse;
    height: 90vh;
    width: 90vh;
    display: flex;
    justify-content: center;

}

.logo1{
    top: 0px;
    background-color: rgb(177, 15, 69);
    height: 10vh;
    width: 10vh;
}
/* .url{
    background-color: gold;
    height: 10vh;
    width: 35vh;
} */

.box5{
    height: 10vh;
    width: 50vh;
    background-color: blueviolet;
    display: inline-block;
}

.logo_call{
    background-color: rgb(202, 34, 34);
    height: 10vh;
    width: 10vh;
}
.number{
    background-color: rgb(22, 15, 157);
    height: 10vh;
    width: 40vh;
}
